body {
    background-image: url('bggg.png');
}
div.image {
	background-image:url('bg.png');
	
    height:20%;
    background-repeat: no-repeat;
	margin:auto;
	background-position: center; 
}​
#loginSquare
{
	width: 600px;
}
ul
{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
 li {
    display: inline;
	
}
#upload
{
	border-style: solid;
    border-width: medium;
	width: 500px;
	/*background-color: F7C63E;*/
	background-image: url('stripe.png');
}
#main
{
	background-image:url('bg.png');
	
    height:20%;
    background-repeat: no-repeat;
	margin:auto;
	background-position: center; 
}

